<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookTurtle</title>
    <link rel="stylesheet" href="/static/css/foundation.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to BookTurtle!</h1>
        <div id="table" class="row">
        </div>
      </div>
    </div>

    <div id="nextModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <h2 id="modalTitle">What do you want to read next?</h2>
      <div class="row">
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/vendor/xml2json.js"></script>
    <script src="/static/js/vendor/jquery.loadTemplate-1.4.5.min.js"></script>


    <script type="text/html" id="tableBookTemplate">
      <div data-id=reviewID class="table-book column small-4">
        <img class="cover" data-src="imgSrc" />
        <div class="percent">
          <div data-template-bind='{"attribute": "data-slider", "value": "percent"}' class="range-slider round" data-slider data-options="start: 1; end: 100;">
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>
        <ul class="button-group">
          <li><a class="nope-button button">Nope</a></li>
          <li><a class="done-button button">Done!</a></li>
        </ul>
      </div>
    </script>

    <script type="text/html" id="nextBookTemplate">
      <div data-id=reviewID class="next-book column small-4">
        <img class="cover" data-src="imgSrc" />
        <h4 data-content=title></h4>
      </div>
    </script>

    <script type="text/html" id="placeholderTemplate">
      <div id="placeholder-book" class="column small-4">
        <div class="cover">
          <a class="placeholder-cover" data-reveal-id="nextModal">+</>
        </div>
      </div>
    </script>

    <script>
      $(document).foundation();

      var table = [];
      var currentBooks = [];
      var nextBooks = [];

      $.ajax({
        url: '/currently-reading/' + {{ user_id }},
        success: function (response) { return getCurrentBooks(response); },
        dataType: 'xml'
      });

      $.ajax({
        url: '/to-read/' + {{ user_id }},
        success: function (response) { return getNextBooks(response); },
        dataType: 'xml'
      });

      var refreshPercent = function (reviewID) {
        $.ajax({
          url: '/review/' + reviewID,
          success: function (response) { return updatePercent(response); },
          dataType: 'xml'
        });
      };

      var parsePercent = function (review) {
        if (!review.user_statuses) {
          return 0;
        }
        else if (review.user_statuses.user_status.length) {
          return parseInt(review.user_statuses.user_status[0].percent['#text'], 10);
        }
        else {
          return parseInt(review.user_statuses.user_status.percent['#text'], 10);
        }
      };

      var updatePercent = function (response) {
        var json = xml2json(response.children[0].children[1]);
        json = json.replace('undefined', '');
        var review = JSON.parse(json).review;

        var $slider = $('#r' + review.id + ' .percent .range-slider');
        var percent = parsePercent(review);
        $slider.foundation('slider', 'set_value', percent);
      };

      var getBookData = function (review, i) {
        return {
          reviewID: 'r' + review.id,
          title: review.book.title,
          author: review.book.authors.author.name,
          imgSrc: '/cover/' + review.book.isbn13,
          link: review.book.link,
          percent: 0
        };
      };

      var parseReviews = function (response) {
        var json = xml2json(response.children[0].children[1]);
        json = json.replace('undefined', '');
        return JSON.parse(json).reviews.review;
      };

      var getCurrentBooks = function (response) {
        var reviews = parseReviews(response);
        var $table = $('#table');
        var $template = $('#tableBookTemplate');
        $(document).foundation('slider', 'reflow');

        $.each(reviews, function (i, review) { 
          if (i < 3) {
            var book = getBookData(review, i)
            table.push(book);
            $table.loadTemplate($template, book, {append: true});
            refreshPercent(review.id);
            $(document).foundation('slider', 'reflow');
          }
          else {
            currentBooks.push(getBookData(review, i));
          }
        });
        $('.nope-button').click(nopeClick);
      };

      var getNextBooks = function (response) {
        var reviews = parseReviews(response);
        $.each(reviews, function (i, review) { 
          nextBooks.push(getBookData(review));
        });
      };

      function nopeClick(event) {
        $(event.currentTarget).closest('.table-book').remove();

        if ($('#placeholder-book').length === 0) {
          setTimeout(
            function () { 
              $('#table').loadTemplate($('#placeholderTemplate'), {}, {append: true});
              $('.placeholder-cover').click(onModalTrigger);
            }, 500);
        }
      }

      function onModalTrigger() {
        var $parent = $('#nextModal .row');
        var $template = $('#nextBookTemplate');
        if ($parent.children().length === 0) {
          $.each(currentBooks.slice(0, 3), function (i, book) {
            $parent.loadTemplate($template, book, {append: true });
          });          
        }
      }

    </script>
  </body>
</html>
